* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
}

ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.container {
    width: 560px;
    margin: 0 auto;
}