@import "normalize.css";
@import "base.scss";

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.21) 100%), rgba(0, 0, 0, 0.5);
    background-image: url("../img/header-bg.jpg");
    padding-top: 10px;
    padding-bottom: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    &__btn {
        display: inline-block;
        font-size: 12px;
        float: right;
        margin-top: 7px;
    }
    &__title {
        margin-top: 90px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        line-height: 28px;
        &-2 {
            display: inline-block;
        }
        &-3 {
            display: inline-block;
        }
    }
}

.btn {
    padding: 11px 18px;
    border: 2px solid #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
}

.logo {
    display: inline-block;
    &-img {
        width: 150px;
        height: 50px;
    }
}

.hello {
    margin-top: 20px;
    &__container {
        width: 100%;
        &-gallery {
            margin-top: 20px;
        }
    }
    &__welcome {
        margin-left: 20px;
        &-photo {
            display: inline-block;
            margin-right: 20px;
            vertical-align: top;
        }
        &-img {
            width: 125px;
            height: 166px;
        }

        &-desc {
            display: inline-block;
            width: 74%;
        }

        &-title {
            &-text {
                display: inline-block;
                margin-right: 7px;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
            }
            &-separator {
                display: inline-block;
                width: 265px;
                border-top: 2px solid #000000;
                vertical-align: middle;
            }
        }

        &-text {
            margin-top: 16px;
            padding-right: 20px;
            p {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                text-align: justify;
                color: #7B7B7B;
            }
            strong {
                font-weight: 700;
                color: #000000;
            }
        }
    }
    &__gallery {
        &-pic {
            width: 181px;
            height: 206px;
            &-1, &-2 {
                margin-right: 7px;
            }
        }
    }
}

.services {
    &__title {
        text-align: center;
        margin-bottom: 48px;
        &__separator {
            display: inline-block;
            width: 98px;
            border-top: 2px solid #000000;
            vertical-align: middle;
        }
        &-text {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            text-transform: uppercase;
            color: #000000;
        }
    }

    &__icons {
        text-align: center;
        &__row {
            &-1{
                margin-bottom: 25px;
            }
        }
        &__item {
            width: 125px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            &-01, &-02, &-03, &-05 {
                margin-right: 15px;
            }
        }

        &__text {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #000000;
            margin-top: 17px;
            line-height: 16px;
        }
    }
}

.advantages {
    background-image: url("../img/services/services-bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 23px;
    &-section {
        margin-top: 19px;
    }
    &__container {
        width: 100%;
    }
    &__content {
        margin-left: 67px;
    }
    &__item {
        &-1, &-2 {
            margin-bottom: 7px;
        }
    }
    &__title {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
        line-height: 21px;
    }
    &__content {
        margin-top: 12px;
    }
    &__icon {
        display: inline;
        margin-right: 14px;
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    &__pic {
        width: 14px;
        height: 12px;
    }
    &__desc {
        display: inline-block;
        max-width: 450px;
    }
    &__subtitle {
        display: inline-block;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }
    &__text {
        display: inline;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #7B7B7B;
    }
}

.order {
    padding-top: 22px;
    &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        text-align: justify;
        color: #7B7B7B;
        strong {
            color: #000000;
        }
    }
    &__buttons {
        margin-top: 14px;
    }
    &__btn {
        width: 270px;
        height: 50px;
        display: inline-block;

        &-email, &-text, &-phone {
            font-family: Roboto;
            font-style: normal;
            color: #000000;
            text-align: center;
        }

        &-email {
            background-color: #C4C4C4;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            padding-top: 16px;
        }
        &-call {
            background-color: #F2F2F2;
            float: right;
            padding-top: 4px;
        }
        &-text {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
        }
        &-phone {
            font-weight: 700;
            font-size: 24px;
            line-height: 14px;
            margin-top: 10px;
        }
    }
}

.consult {
    margin-top: 20px;
    padding-bottom: 26px;
    &__title, &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__list {
        padding-left: 25px;
        margin-bottom: 15px;
    }
    &__icon {
        display: inline-block;
        color: #A4A4A4;
        vertical-align: top;
        &-item-big {
            line-height: 10px;
        }
    }
    &__desc {
        display: inline-block;
        max-width: 440px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #A4A4A4;
    }
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1F1F1F;
    &__logo, &__times, &__designed, &__btn {
        vertical-align: middle;
    }
    &__logo {
        margin-right: 10px;
    }
    &__times {
        display: inline-block;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        color: #999999;
        margin-right: 15px;
    }
    &__designed {
        display: inline-block;
        margin-right: 10px;
    }
    &__btn {
        display: inline-block;
        font-size: 12px;
    }
}