<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic", rel="stylesheet")
        title Document
    body
        .wrapper
            .maincontent
                .header
                    .header__container.container
                        .header__top
                            a(href="#").header__logo.logo
                                img(src="./img/logo.png", alt="Логотип").header__logo-img
                            a(href="#").header__btn.btn Заказать звонок
                        .header__title
                            .header__title-1 Давайте знакомиться
                            .header__title-2 Творческая группа
                            .header__title-3 Tower Art Group
                .hello
                    .hello__container.container
                        .hello__welcome
                            .hello__welcome-photo
                                img(src="./img/welcome/welcome-photo.jpg", alt="Фотография").hello__welcome-img
                            .hello__welcome-desc
                                .hello__welcome-title
                                    .hello__welcome-title-text Приветствую вас!
                                    .hello__welcome-title-separator
                                .hello__welcome-text
                                    p Меня зовут #[strong Дианова Елена]. Я основатель #[strong Группы компаний «Tower Art Group»].
                                    p От лица команды #[strong «Tower Art Group»] предлагаю дружбу и взаимовыгодное сотрудничество. Хочу, чтобы вы обращались в #[strong «Tower Art Group»] и чувствовали себя по-домашнему, как у старого друга в гостях. Скажу так. Когда вы придёте к нам, всю рутину мы возьмём на себя. Каждый специалист #[strong «Tower Art Group»] скидывает мешки забот с ваших плеч, чтобы путь к реализации вашего проекта был максимально простым.
                    .hello__container-gallery.container
                        .hello__gallery
                            img.hello__gallery-pic.hello__gallery-pic-1(src="./img/welcome/welcome-gallery-1.jpg", alt="Картинка с интерьером")
                            img.hello__gallery-pic.hello__gallery-pic-2(src="./img/welcome/welcome-gallery-2.jpg", alt="Картинка с домом")
                            img.hello__gallery-pic.hello__gallery-pic-3(src="./img/welcome/welcome-gallery-3.jpg", alt="Картинка с ландшафтом")
                .services
                    .services__container.container
                        .services__title
                            .services__title__separator.services__title__separator-left
                            .services__title-text Наши услуги
                            .services__title__separator.services__title__separator-right
                        .services__icons
                            .services__icons__row.services__icons__row-1
                                .services__icons__item.services__icons__item-01
                                    img(src="./img/services/services-icon-1.png", alt="").services__icons__img-01
                                    .services__icons__text Индивидуальный проект дома
                                .services__icons__item.services__icons__item-02
                                    img(src="./img/services/services-icon-2.png", alt="").services__icons__img-02
                                    .services__icons__text Дизайн интерьера
                                .services__icons__item.services__icons__item-03
                                    img(src="./img/services/services-icon-3.png", alt="").services__icons__img-03
                                    .services__icons__text Ландшафтный дизайн и Фитодизайн
                                .services__icons__item.services__icons__item-04
                                    img(src="./img/services/services-icon-4.png", alt="").services__icons__img-04
                                    .services__icons__text Авторский надзор
                            .services__icons__row.services__icons__row-2
                                .services__icons__item.services__icons__item-05
                                    img(src="./img/services/services-icon-5.png", alt="").services__icons__img-05
                                    .services__icons__text Сопровождение проекта
                                .services__icons__item.services__icons__item-06
                                    img(src="./img/services/services-icon-6.png", alt="").services__icons__img-06
                                    .services__icons__text Согласование перепланировки жилых и нежилых помещений
                        
